<html>
<head></head>

<body>

{{> menu}}
    <h1>Enter you book collection</h1>

    <form action="/add-book" method="POST">
        <input type="text" name="title" placehoder="title"/>
        <input type="text" name="author"  placehoder="author"/>
        <input type="text" name="year"  placehoder="year"/>
        <input type="text" name="description"  placehoder="detail"/>
        <input type="text" name="reviews"  placehoder="reviews"/>
       
        <button>Save</button>
        
    </form>

    
</body>

</html>