<html>
<head>
<link rel="stylesheet" href="/css/styles.css" >
</head>
<body>

{{> menu}}
<h1>welcome to bookjunky</h1>

{{#bookjunky}}

<h2>{{title}}</h2>
<h3>{{author}}</h3>
<h3>{{year}}</h3>
<h4>{{description}}</h4>
<h6>{{reviews}}</h6>
<form action="/edit" method="POST" >
  <input type="hidden" name="bookid" value = "{{bookid}}"/>
  <button>update</button>
</form>
<form action="/delete" method="POST" >
  <input type="hidden" name="bookid" value = "{{bookid}}"/>
  <button>delete</button>
</form>

{{/bookjunky}}
</body>

</html>