<html>
<body>

<h1>updated books</h1>
<form action="/update" method="POST">
      
        <input type="text" name="author"  placehoder="author"/>
        <input type="text" name="year"  placehoder="year"/>
          <input type="text" name="bookid"  placehoder="bookid"/>
        <button>Save</button>
        
    </form>
</body>

</html>